<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in </title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Log In</h1>
        <form method="POST" action={% url 'accounts:login' %}>
            {% csrf_token %}
            <label>Username: </label>
            <br />
            <input type="text" name="username" />
            <br />
            <label>Password:</label>
            <br />
            <input type="password" name="password"/>
            <br />
            <br />
            <input class="btn btn-primary" type="submit" value="Log in"/>
        </form>
        {% if massage %}
        {{ massage}}
        {% endif %}
    </div>
{% endblock %}
</body>
</html>